* { margin:0; padding:0; }

body {
    background-color: #ffffff;
    font: normal 13px/1.65 "Helvetica", "Arial", sans-serif;
    color: #000;
    width:100%;
    text-align: left;
}

#mySidebar {
    display:none;
    position:absolute;
    left:10px;
    top:20px;
    width:140px;
    list-style-type:none;
}

#myViewer {
    margin-left:10px;
    margin-top:20px;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
/* NileViewer */

.NVPipeline {
    position:relative;
    width:100%;
    font: normal 13px/1.65 "Helvetica Neue", "Arial", sans-serif;
    color: #000;
}

.NVPipelineHighContrast {
}

.NVSubpipeline {
    position:absolute;
    z-index: 1;
    left:470px;
    top:0px;
    width:300px;
    height: auto;
}

.NVProcess {
    position:relative;
    width:100%;
    height: 180px;
}

.NVProcessBackground {
    position: absolute;
    left:-10px;
    top:-10px;
    width: 443px;
    height: inherit;
}

.NVProcessExpanded .NVProcessBackground {
    background-color: rgb(233,240,249);
    border-bottom: solid 1px rgb(206,210,216);
    border-top: solid 1px rgb(206,210,216);
}

.NVProcessHeader {
    position: absolute;
    left:0px;
    top:0px;
    width: 200px;
    height: inherit;
    line-height: normal;
    text-align: right;
}

.NVProcessTitle {
    font-size: 13px;
}

.NVPipelineHighContrast .NVProcessTitle {
    font-size: 18px;
}

.NVProcessTitleTriangle {
    font-size: 11px;
}

.NVPipelineHighContrast .NVProcessTitleTriangle {
    font-size: 15px;
}

.NVProcessName {
    font-weight: bold;
}

.NVProcessNameClickable {
    text-decoration: underline;
    cursor: pointer;
}

.NVProcessNameClickable:hover {
    color: #5e7993;
}

.NVProcessNameClickable:active {
    color: #32455b;
}

.NVProcessParameters {
}

.NVPipelineHighContrast .NVProcessParameters {
    display:none;
}

.NVProcessInput {
    margin-top: 10px;
}

.NVProcessOutput {
    margin-top: 10px;
}

.NVProcessIcons {
    line-height: 1px;
}

.NVProcessIcon {
    display: inline-block;
    vertical-align: bottom;
    background-color: #dae5ed;
    width: 16px;
    height: 16px;
    border-right: solid 2px #fff;  /* not margin, so rolling over from one icon to another is continuous */
    border-bottom: solid 2px #fff;
}

.NVProcessExpanded .NVProcessIcon {
    border-right: solid 2px rgb(233,240,249);
    border-bottom: solid 2px rgb(233,240,249);
}

.NVProcessIconInner {
    display: inline-block;
    vertical-align: bottom;
    background-color: #a3bdd1;
    width: 16px;
    height: 16px;
}

.NVProcessIconSelected {
    background-color: #000000;
}

.NVProcessIconHotSelected {
    background-color: #ff0000;
}

.NVProcessIconsCaption {
    font-size: 10px;
    color: #637d91;
    margin-top:0px;
}

.NVProcessCanvas {
    position:absolute;
    left:212px;
    top:0px;
    width:200px;
    height: 150px;
    background: #f8f8f8;
    background: -webkit-radial-gradient(center, ellipse cover, #fafafa 0%, #e6e6e6 300%);
    border: solid 1px #fff;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 0px 1px rgba(0,0,0,0.15), 0px 1px 4px rgba(0,0,0,0.25);
}

.NVPipelineHighContrast .NVProcessCanvas {
    background: #e8e8e8;
}

.NVProcessCanvasHelp {
    display:none;
    position:absolute;
    left:208px;
    top:130px;
    width:100px;
    font: normal 10px/1.0 "Helvetica Neue", "Arial", sans-serif;
    color: #fff;
}

.NVProcessCanvasCaption {
    position: absolute;
    top:152px;
    left:0px;
    font-size: 10px;
    color: #999;
    margin-top:0px;
}

.NVProcessCanvasCaptionNumber {
    width:70px;
    text-align: center;
}

.NVProcessCanvasCaption b {
    color: #f00;
    font-weight: bold;
}

.NVProcessCode {
    position:absolute;
    left:432px;
    top:0px;
    height: auto;
    font: 12px monospace;
    color: #222;
    white-space:pre;
}

.NVProcessCodeLine {
    padding-left:4px;
    padding-right: 4px;
}

.NVProcessCodeLineHot {
    background-color: #f2f2f2;
}

.NVPipelineHighContrast .NVProcessCodeLineHot {
    background: #e8e8e8;
}

.NVBracket {
    position:absolute;
    width:1px;
    top:-2px;
    left:-50px;
}
.NVBracketTop {
    width:1px;
    border-width: 19px 0px 19px 29px;
    -webkit-border-image: url(Images/BracketTop.png) 19 0 19 29 stretch;
    -moz-border-image: url(Images/BracketTop.png) 19 0 19 29 stretch;
    border-image: url(Images/BracketTop.png) 19 0 19 29 stretch;
}
.NVBracketBottom {
    width:1px;
    border-width: 19px 0px 19px 29px;
    -webkit-border-image: url(Images/BracketBottom.png) 19 0 19 29 stretch;
    -moz-border-image: url(Images/BracketBottom.png) 19 0 19 29 stretch;
    border-image: url(Images/BracketBottom.png) 19 0 19 29 stretch;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
/* generic */

p {
    margin-bottom:12px;
}

pre {
    margin-bottom:12px;
}

strong {
    font-weight:bold;
    color: #f00;
}

b {
    font-weight:bold;
    color: #000;
}

a { 
    text-decoration:underline; 
    color: #55a; 
    border:none;
}

a:hover {
    text-decoration:underline;
    color: #114;
}

img { 
    border:none;
}

ul {
    margin-left:22px;
    margin-bottom: 12px;
}

ol {
    margin-left:22px;
    margin-bottom: 12px;
}

li {
    margin-bottom:8px;
}

